@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body
{
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.main-calculator
{ 

  max-width: 380px;
      

   .Calculate-numbers
   {
    padding: 20px 20px;
    background-color: gray ;
    border-radius: 8px;
   }

  input {
    width: 100%;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: end;
  }

  button {
    width: 70px;
    height: 40px;
    margin: 7px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .extraxted {
     display: flex;
     flex-direction: row;
     gap: 20px;
  
    button.reset-button,
    button.equals-button {
      width: 150px; 
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;

    }
    
     button.reset-button{
        margin-left: 8px;
     }

  }
  

  // 1111
  

  &.default {
    border-radius: 30px;
    margin-left: 600px;

   .Title
   {
    font-size: 30px;
   }

   .Numbers
   {
     margin-left: 340px;
     letter-spacing: 3px;
     font-size: 10px;
     color: black;
     margin-bottom: 0;
     margin-top: 0;
   }

    .theme-buttons
    {
     display: flex;
     align-items: center;
     border-radius: 20px;
     gap: 100px;
    }


   .main-buttons
   {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    margin-left: 90px;
    gap: 3px;
   }
   .theme
   {
    font-size: 10px;
    margin-right: 10px;
   }

  .Press
  {
    background-color: hsl(0, 5%, 81%);
    display: flex;
    border-radius: 18px;
    height: 20px;
    width: 78px;
    align-items: center;
  }


   .number-label

  {
    margin-left: 7px;
    color: white;
  }

   
  .first-theme-button
  {
   background-color: hsl(25, 98%, 40%);
   margin-bottom: 30px;
  }
   
   .second-theme-button,
   .third-theme-button {
     background-color:hsl(0, 5%, 81%) ;
     margin-bottom: 30px;
   }

   .first-theme-button,
   .second-theme-button,
   .third-theme-button
   {
      height: 13px;
      width: 13px;
      border-radius: 20px;
      margin-left: 5px;
      padding: 0;
   }



  .number-input
  {
      color: black;
      background-color: white;
      height: 70px;
      font-size: 40px;
      width: 93%;
      border-radius: 10px;
      border-color: white;
      margin-top: 10px;
  }

  .Calculate-numbers
  {
    background-color: hsl(0, 5%, 81%);
  }


    .reset-delete-button,.reset-button
    {
      background-color: hsl(176, 100%, 44%);
      box-shadow: 0px 4px 0px 0px  hsl(185, 58%, 25%);
      
    }

     .operator-button,
     .number-button {
       background-color: rgb(228, 228, 228);
       color: black;
       box-shadow: 0px 4px 0px 0px  hsl(35, 11%, 61%);
     }

    .equals-button {
      background-color: hsl(25, 98%, 40%);
      color: white;
      box-shadow: 0px 4px 0px 0px hsl(25, 99%, 27%);
    }
  }



// end of 1




  &.second {  
    border-radius: 30px;
    margin-left: 600px;

   .Title
   {
    font-size: 30px;
    color: white;
   }

   .Numbers
   {
     margin-left: 340px;
     letter-spacing: 3px;
     font-size: 10px;
     color: black;
     margin-bottom: 0;
     margin-top: 0;
   }

    .theme-buttons
    {
     display: flex;
     align-items: center;
     border-radius: 20px;
     gap: 100px;
    }


   .main-buttons
   {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    margin-left: 90px;
    gap: 3px;
   }
   .theme
   {
    font-size: 10px;
    margin-right: 10px;
    color: white;
   }

  .Press
  {
    display: flex;
    background-color: hsl(0, 5%, 81%);
    border-radius: 18px;
    height: 20px;
    width: 78px;
    align-items: center;
  }
  
  .number-label

  {
    margin-left: 7px;
    color: black;
  }

   
  .second-theme-button
  {
   background-color: hsl(6, 63%, 50%);
   margin-bottom: 30px;
  }
   
   .first-theme-button,
   .third-theme-button {
     background-color:hsl(0, 5%, 81%) ;
     margin-bottom: 30px;
   }

   .first-theme-button,
   .second-theme-button,
   .third-theme-button
   {
      height: 13px;
      width: 13px;
      border-radius: 20px;
      margin-left: 5px;
      padding: 0;
   }



  .number-input
  {
      color: white;
      background-color: hsl(224, 36%, 15%);
      font-size: 40px;
      height: 70px;
      width: 93%;
      border-radius: 10px;
      border-color: white;
      margin-top: 10px;
  }

  .Calculate-numbers
  {
      background-color: hsl(223, 31%, 20%);

  }


    .reset-delete-button,.reset-button
    {
      background-color: hsl(225, 21%, 49%);
      color: white;
      box-shadow: 0px 4px 0px 0px hsl(224, 28%, 35%);
    }

     .operator-button,
     .number-button {
       background-color: rgb(228, 228, 228);
       color: black;
       box-shadow: 0px 4px 0px 0px  hsl(28, 16%, 65%);
     }

    .equals-button {
      background-color:  hsl(6, 63%, 50%);
      color: white;
      box-shadow: 0px 4px 0px 0px hsl(6, 70%, 34%);
    }
  }



// end of 2




  &.third {
    border-radius: 30px;
    margin-left: 600px;

   .Title
   {
    font-size: 30px;
    color:rgb(255, 185, 55) ;

   }

   .Numbers
   {
     margin-left: 340px;
     letter-spacing: 3px;
     font-size: 10px;
     color: black;
     margin-bottom: 0;
     margin-top: 0;
   }

    .theme-buttons
    {
     display: flex;
     align-items: center;
     border-radius: 20px;
     gap: 100px;
    }


   .main-buttons
   {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    margin-left: 90px;
    gap: 3px;
   }
   .theme
   {
    font-size: 10px;
    margin-right: 10px;
    color:rgb(255, 185, 55) ;

   }

  .Press
  {
    display: flex;
    background-color: hsl(0, 5%, 81%);
    border-radius: 18px;
    height: 20px;
    width: 78px;
    align-items: center;
  }

  .number-label

  {
    margin-left: 7px;
    color:rgb(255, 185, 55) ;
  }

   
  .third-theme-button
  {
   background-color: hsl(176, 100%, 44%);
   margin-bottom: 30px;
  }
   
   .first-theme-button,
   .second-theme-button {
    background-color: hsl(0, 5%, 81%);
    margin-bottom: 30px;
   }

   .first-theme-button,
   .second-theme-button,
   .third-theme-button
   {
      height: 13px;
      width: 13px;
      border-radius: 20px;
      margin-left: 5px;
      padding: 0;
   }


  
  .number-input
  {
      background-color: hsl(268, 71%, 12%);
      font-size: 40px;
      color: rgb(255, 185, 55);
      height: 70px;
      width: 93%;
      border-radius: 10px;
      border-color: white;
      margin-top: 10px;
  }

  .Calculate-numbers
  {
     background-color: hsl(268, 71%, 12%);
  }


    .reset-delete-button,.reset-button
    {
      background-color: hsl(281, 89%, 26%);
      box-shadow: 0 4px 0px 0px hsl(285, 91%, 52%)
    }

     .operator-button,
     .number-button {
       background-color: hsl(268, 47%, 21%);
       color: orange;
       font-weight: 700;
       box-shadow: 0 4px 0px 0px hsl(290, 70%, 36%);
     }

    .equals-button {
      background-color:  hsl(176, 100%, 44%);
      color: white;
      box-shadow: 0px 4px 0px 0px hsl(177, 92%, 70%)
    }

  }
}



