.main-calculator {
    
    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    button {
      width: 50px;
      height: 50px;
      margin: 5px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  
    &.default {
      background-color: white;
      
    .number-input
    {
        background-color: white;
    }

      .theme-button-blue {
        background-color: blue;
      }
  
      .reset-delete-button,
      .operator-button,
      .number-button {
        background-color: yellow;
        color: white;
      }
  
      .equals-button {
        background-color: red;
        color: white;
      }
    }
  
    &.second {
      background-color: gray;

      .number-input
      {
        background-color: aqua;
      }
  
      .theme-button-gray {
        background-color: gray;
      }
  
      .reset-delete-button,
      .operator-button,
      .number-button {
        background-color: blue;
        color: white;
      }
  
      .equals-button {
        background-color: orange;
        color: white;
      }
    }
  
    &.third {
      background-color: purple;

      .number-input
      {
        background-color: firebrick;
      }
  
      .theme-button-purple {
        background-color: purple;
      }
  
      .reset-delete-button,
      .operator-button,
      .number-button {
        background-color: pink;
        color: white;
      }
  
      .equals-button {
        background-color: cyan;
        color: white;
      }
    }
  }
  
